@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Permanent+Marker&display=swap");
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Permanent Marker", cursive;
  font-family: "Oswald", sans-serif;
  color: #384047;
}

/* form  */
/*  */
/*  */
form {
  width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h3 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}

button,
.btn {
  color: #000;
  background-color: #b2bec3;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

/* Alert */

.alert {
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* product */

.title{
  font-family: "Permanent Marker", cursive;
  margin-top: 10px;
  padding-bottom: 15px;
}

.card {
  margin-bottom: 15px;
}

.card img, .modal-card img {
  height: 150px;
  width: 140px;
  margin: 15px;
}

.btn {
  font-size: 16px;
  width: 100px;
  margin-right: 5px;
}
.btn:hover{
  background: #000;
}
.addtocart {
  display: flex;
}

/* navbar */

.navbar-light .navbar-nav .nav-link {
  color: #2d3436;
}
.navbar-brand{
  font-size: 35px;
  margin-left: -15px;
  font-family: "Permanent Marker", cursive;
}

/* product modal */

.modal-card{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-alert{
  color: salmon;
  font-weight: 700;
}